table {
    width: 100%;
  }
  
  #k th {
    font-size: 14px;
    font-weight: bolder;
    /* text-align: center; */
    background-color: rgba(0,0,0,.12);
    padding:3px;
    font-weight: bold;
    color:black;
    
  }
  
  #k tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* #k td:nth-child(odd){background-color: #f2f2f2;} */
  /* #k {
    text-align:center;
   
  } */
  #k td {
    width: 100px;
    padding: 3px;
  }
  
  .headingContainer {
    
    font-size: 32px;
    letter-spacing: 6px;
  }
  